a {color:#7C6A44;}
a:hover {color:#85A195;}
#uhu_gj_9551 ul li .item-title {color:#FFF;}
#uhu_gj_9551 ul li .item-html {color:#A6925F;}
.btn-primary:focus, .btn-primary.focus {color:#85A195;border-color:#85A195;background-color:transparent;}
.discount-percentage {background-color:#FCB1AB;}
.new {background-color:#7C6A44;}
#header .header-nav .blockcart {background-color:#7C6A44;}
#product .h1 {color:#85A195;border-color:#85A195;}
.btn-primary {color:#FFF;border-color:#85A195;background-color:#85A195;}
.btn-primary:hover {color:#85A195;border-color:#85A195;background-color:transparent;}
.product-quantity {border-color:#85A195;}
#product-availability {border-color:#85A195;}
.product-prices span {color:#7C6A44;}
li.product-flag:last-child {background-color:#7C6A44;}
#header .header-nav .cart-preview.active {background-color:#7C6A44;}
#header .header-nav .cart-preview .shopping-cart {color:#EDEDED;}
#header .header-nav .cart-preview.active i {color:#FFF;}
.product-images-wrap .owl-controls .owl-prev {color:#7C6A44;border-color:transparent;}
.product-images-wrap .owl-controls .owl-next {color:#7C6A44;border-color:transparent;}
.footer-container .h3 {color:#7C6A44;}
.highlighted-informations .down {color:#FFF;border-color:#FFF;background-color:#FFF;}
.product-list-actions .up {color:#FFF;border-color:#85A195;background-color:#85A195;}
.new:before {background-color:#7C6A44;}
#blockcart-modal .modal-header {background-color:#A6925F;}
#blockcart-modal .product-name {color:#7C6A44;}
.nav-tabs li a.active {color:#7C6A44;}
#home-page-tabs .nav-item {color:#85A195;}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,     .open > .btn-primary.dropdown-toggle:hover,     .open > .btn-primary.dropdown-toggle:focus,     .open > .btn-primary.dropdown-toggle.focus {color:#7C6A44;border-color:#85A195;background-color:transparent;}
